.page-head { background: #00abff; text-align: center; padding: 70px 0 300px 0; }
.page-head h1 { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 46px;/* or 62px */ text-align: center; color: #ffffff; }
.page-head p { font-family: Inter; font-style: normal; font-weight: normal; font-size: 19px;/* or 26px */ text-align: center; color: #ffffff; max-width: 800px; margin: auto; padding: 20px 0; }
.form-inner { background: #ffffff; box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.05); border-radius: 15px; padding: 70px 100px; margin-top: -320px; }
.form-inner label { font-family: Inter; font-style: normal; font-weight: normal; font-size: 19px; margin-bottom: 12px; color: #1e1e1e; }
.form-inner input, .form-inner textarea, .form-inner select { width: 100%; padding: 15px 18px; height: auto; font-size: 19px; background: #ffffff; border: 1px solid #dddddd; box-sizing: border-box; border-radius: 4px; }
.form-inner [class^="col-"] { margin-bottom: 35px; }

/* */
[type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px; }
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label { position: relative; padding-left: 33px; cursor: pointer; line-height: 20px; display: inline-block; color: #666; }
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before { content: ""; position: absolute; left: 0; top: -4px; width: 25px; height: 25px; border: 1px solid #ddd; border-radius: 100%; background: #fff; }
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ""; width: 10px; height: 10px; background: var(--mc); position: absolute; top: 3px; left: 8px; border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
[type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0); }
[type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.choice { display: flex; }
.genselect { margin-right: 20px; }
.form-inner textarea { height: 140px; }
.submit-bttn { background: #00abff; border-radius: 3px; font-family: Inter; font-style: normal; font-weight: normal; font-size: 17px; text-align: center; text-transform: uppercase; color: #ffffff; padding: 15px 25px; border: 0; }
.form-actions { display: flex; align-items: center; }
.captcha { margin-right: 20px; }
.submit-bttn:hover { background: #333; color: #fff; }
.form-inner select { appearance: none; }
.form-inner input::placeholder, .form-inner textarea::placeholder { color: #d9d9d9; font-style: italic; opacity: 1; }
.form-inner input:-ms-input-placeholder, .form-inner textarea:-ms-input-placeholder { color: #d9d9d9; font-style: italic; }
.form-inner input::-ms-input-placeholder, .form-inner textarea::-ms-input-placeholder { color: #d9d9d9; font-style: italic; }
.customselect { position: relative; }
.customselect:after {content: "\f0d7"; font-family: "FontAwesome"; position: absolute; top: 17px; right: 15px; font-size: 20px; color: #ccc; z-index: 1; }
.contact-bottom h2 { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 48px; line-height: 130%; color: #2e2e2e; }
.bootm-list h3 { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 22px; line-height: 130%; color: #000000; margin-bottom: 10px; }
.bootm-list a { font-family: Inter; font-style: normal; font-weight: normal; font-size: 18px; line-height: 36px; color: #555555; }
.bootm-list i { color: #00abff; font-size: 21px; margin-right: 7px; }
.bootm-list li { margin-bottom: 2px; }
.bootm-list { padding-right: 100px; }
.bootm-list a:hover { color: #00abff; }
.contact-bottom { margin-top: 80px; }
.form-inner [class^="col-"]:last-child { margin-bottom: 0; }

/* breadcrumb */
.breadcrumb { padding: 0; margin: 0; background: transparent; }
li.breadcrumb-item { font-family: Inter; font-style: normal; font-weight: normal; font-size: 14px; line-height: 17px; }
li.breadcrumb-item a { color: #858585 !important; }
li.breadcrumb-item.active { color: #000 !important; }
.breadcrumb-outer { padding: 15px 0; border-bottom: 1px solid #f5f5f5; }

/* industries */
.page-head.inner-page p { padding: 10px 0; text-transform: uppercase; font-family: Product Sans; font-weight: lighter; letter-spacing: 0.3rem; max-width: 100%; margin: 0; text-align: left; }
.page-head.inner-page { padding: 75px 0; }
.page-head.inner-page h1 { text-align: left; max-width: 700px; }
.indus-box { background: #ffffff; box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.05); border-radius: 5px; padding: 21px; height: 100%; }
.indus-box h2 { font-family: Product Sans; font-style: normal; font-weight: normal; font-size: 22px; line-height: 130%;/* or 29px */ color: #1d1d1d; padding: 15px 0 10px 0; }
.indus-box p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px; color: #454545; padding-bottom: 20px; }
.black-heading { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 36px; line-height: 130%; color: #1d1d1d; }
.industries-title { border-bottom: 1px solid #ededed; padding-bottom: 15px; margin-bottom: 30px; }
section.our-industries { padding: 50px 0; }
.industries-serv .col-lg-4, .industries-serv .col-xl-3 { margin-bottom: 30px; }
section.newsletter-section + section.our-industries { padding-top: 0; }
.filters-navs button { font-family: Inter; font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; text-align: center; text-transform: uppercase; color: #00abff; border: 1px solid #00abff; border-radius: 0; padding: 10px 20px; min-width: 160px; margin: 0 13px 10px 0; }
.filters-navs button.active, .filters-navs button:hover { background: #00abff; color: #fff; }
.filters-navs button:last-child { }
.filters-navs { display: flex;/* justify-content:center;*/ margin-bottom: 30px; flex-wrap: wrap;/* justify-content:space-between;*/ }
section.portfolio-details { padding: 50px 0; }
.porfolio-content { padding-left: 40px; }
.porfolio-content h2 { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 30px; line-height: 130%;/* or 39px */ color: #1d1d1d; }
.taglist li { font-family: Inter; font-style: normal; font-weight: 500; font-size: 13px; line-height: 22px;/* identical to box height,or 169% */ text-align: center; text-transform: uppercase; color: #989898; background: #f1f1f1; border-radius: 2px; padding: 5px 13px; margin-right: 10px; white-space: nowrap; margin-bottom: 10px; }
.taglist ul { display: flex; flex-wrap: wrap; }
.taglist { padding: 20px 0 10px 0; }
.porfolio-content p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;/* or 150% */ color: #454545; }
.porfolio-content a.btn { font-family: Inter; font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; text-align: center; text-transform: uppercase; color: #ffffff; background: #00abff; border-radius: 2px; padding: 10px 30px; margin-top: 30px; }
.porfolio-content a.btn:hover { background: #333; color: #fff; }
div#parent .box { margin-bottom: 50px; padding-top: 30px; clear: both; }
a.show-more { font-family: Inter; font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px; text-align: center; text-transform: uppercase; color: #00abff; border: 1px solid #00abff; border-radius: 0; padding: 10px 20px; min-width: 160px; margin: 0 13px 10px 0; display: block; max-width: 150px; }
a.show-more:hover { background: #333; color: #fff; border-color: #333; }
.taglist { display: flex; flex-wrap: wrap; justify-content: start; }
section.about-us { padding: 50px 0 70px 0; }
section.about-us p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 18px; line-height: 30px; color: #454545; padding-bottom: 10px; }
section.about-us p strong { font-weight: 500; color: #333; }
section.about-us .black-heading, .infrastructure .black-heading { padding-bottom: 10px; }
.about-video-wrap { max-width: 750px; margin: auto; }
.about-video-wrap .vimeobg:before { content: ""; top: -60px; right: -60px; bottom: auto; left: auto; }
.about-video-wrap iframe { height: 380px; }
section.aboutvideo { padding: 32px 0 0 0; }
section.aboutvideo { position: relative; overflow: hidden; }
section.aboutvideo:after { content: ""; width: 110%; height: 340px; background: #00abff; bottom: -182px !important; left: -5%; border-radius: 100%; position: absolute; }
.about-video-wrap .vimeobg { padding: 0; }
section.why-profile { background: #00abff; padding: 70px 0 50px 0; }
.whyfp-box { background: #00abff; border: 1px solid rgba(255, 255, 255, 0.2); box-sizing: border-box; border-radius: 15px; padding: 21px; height: 100%; }
.whyfp-box h2 { font-family: Product Sans; font-style: normal; font-weight: 500; font-size: 22px; line-height: 130%;/* or 29px */ color: #ffffff; padding: 20px 0 15px 0; }
.whyfp-box p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 18px; line-height: 26px;/* or 144% */ color: #f1f1f1; }
.why-fp-icon { border: 1px solid rgba(255, 255, 255, 0.4); border-radius: 30px; padding: 15px; width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; margin-top: 10px; }
section.why-profile { }
section.why-profile .col-lg-4 { margin-bottom: 30px; }
.whyfp-box:hover { box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.07); border-color: transparent; }
.sec-title h2 { text-align: center; padding-bottom: 15px; }
.sec-title p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 18px; line-height: 30px; text-align: center; }
.sec-title { padding-bottom: 40px; }
.trusted-logos li { cursor: pointer; border: 1px solid #cdcdcd; flex: 0 0 20%; max-width: 20%; padding: 15px 13px; display: flex; align-items: center; justify-content: center; }
.trusted-logos ul { display: flex; flex-wrap: wrap; }
.trusted-logos li img { max-width: 121px; filter: grayscale(1); opacity: 0.7; }
.trusted-logos li:hover img { filter: inherit; opacity: 1; }
section.trustedclients { padding-bottom: 0; }
.testimonials.why-page .slick-arrow { display: none !important; }
section.staregy { background: #f9f9f9; padding: 60px 0; }
section.infrastructure p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 18px; line-height: 28px; color: #454545; }

/* hire devel0peor */
.buid-form { background: #FFFFFF; box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.05); border-radius: 10px; overflow: hidden; }
.formhead { background: #00abff; padding: 20px; text-align: center; color: #fff; }
.formhead h2 { font-family: Product Sans; font-size: 28px; font-style: normal; font-weight: 700; line-height: 36px; letter-spacing: 0em; text-align: center; }
.formhead p { font-size: 16px !important; letter-spacing: 0em; text-align: center; color: #fff !important; padding: 0 !important; }
.bottom-form { padding: 30px; }
.bottom-form label { font-family: Inter; font-size: 16px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: left; }
.bottom-form input:not([type="submit"]), .bottom-form select, .bottom-form textarea { background: #fff; border: 1px solid #D2D2D2 !important; box-sizing: border-box; border-radius: 3px; padding: 10px 15px; height: auto; }
.bottom-form .col-md-12:not(:last-child) { margin-bottom: 20px; }
.bottom-form input[type="submit"] { font-family: Inter; font-size: 17px; font-style: normal; font-weight: 400; line-height: 19px; letter-spacing: 0em; text-align: center; background: #00abff; border: 0; padding: 17px; width: 100%; text-transform: uppercase; color: #fff; border-radius: 3px; margin-top: 10px; }
.bottom-form textarea { height: 120px; resize: vertical; }
.dot-list li { padding-left: 26px; margin-top: 8px; }
.dot-list li, .dot-list li a { font-family: Inter; font-style: normal; font-weight: normal; font-size: 18px; line-height: 28px; color: #454545; position: relative; }
.dot-list li:before { content: ""; width: 10px; height: 10px; background: #454545; position: absolute; left: 0; top: 9px; border-radius: 50%; }
.trusted-leading { padding: 40px 0; background: rgba(245, 245, 245, 0.5); }
.trusted-leading .container { display: flex; align-items: center; }
.left-trust { width: 310px; }
.right-trust { width: 100%; max-width: calc(100% - 310px); }
.left-trust h2 { font-family: Inter; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-transform: uppercase; color: #454545; }
h2.blue.black-heading { font-size: 25px; color: #00abff; font-family: Inter; }
.dot-list.skills ul { display: flex; flex-wrap: wrap; justify-content: center; }
.dot-list.skills ul li { flex: 0 0 25%; }
.dot-list.skills { display: flex; justify-content: center; flex-wrap: wrap; }
.dot-list.skills li a:hover { color: #00abff; }
.ben-box { height: 100%; border: 1px solid #00ABFF; box-sizing: border-box; border-radius: 10px; padding: 25px; }
.ben-box h2 { font-family: Product Sans; font-style: normal; font-weight: bold; font-size: 22px; line-height: 130%;/* or 29px */ padding-bottom: 12px; color: #00ABFF; }
.ben-box p { font-family: Inter; font-style: normal; font-weight: 300; font-size: 16px; line-height: 28px;/* or 175% */ color: #383838; }
.benefits { max-width: 1000px; margin: auto; }
section.benefits-hiring .col-lg-4 {
    margin-bottom: 30px;
}
/* blog */
section.blog-section { padding: 60px 0; }
h5.blog-title a { font-family: Product Sans; font-style: normal; font-weight: normal; font-size: 20px; line-height: 26px;/* or 130% */ color: #1D1D1D; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
p.card-text { font-family: Inter; font-style: normal; font-weight: 300; font-size: 16px; line-height: 24px;/* or 150% */ color: #454545; margin-bottom: 10px; white-space: normal; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.card.blog-post { border: 0; margin-bottom: 30px; }
.card.blog-post .card-body { padding: 0; }
.card-img-top { border-radius: 10px; }
a.read-blog { font-family: Inter; font-style: normal; font-weight: 500; font-size: 14px; line-height: 17px;/* identical to box height */ text-transform: uppercase; color: #898989; }
.widget-post-text h2 a:hover, .card.blog-post .card-body a:hover { color: #00abff; }
.blogtag-title { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; font-family: Inter; font-style: normal; font-weight: normal; font-size: 14px; line-height: 24px;/* or 171% */ color: #C1C1C1; padding: 10px 0; }
.blogtag-title a { font-size: 14px; line-height: 24px; color: #C1C1C1; }
.trackpost ul { display: flex; }
.trackpost li:not(:last-child) { margin-right: 12px; }
.trackpost svg { margin-right: 5px; }
.widget-post-text h2 a { display: block; font-family: Product Sans; font-style: normal; font-weight: normal; font-size: 16px; line-height: 22px;/* or 137% */ color: #1D1D1D; white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.trackpost { font-family: Inter; font-size: 14px; color: #C1C1C1; }
.widget-post-lsit li {/* display:flex;*/ }
.blogSidebar h3 { font-family: Product Sans; font-style: normal; font-weight: normal; font-size: 24px; line-height: 26px;/* or 108% */ color: #1D1D1D; margin-top: -6px; margin-bottom: 15px; }
.widget-post-text { padding-left: 20px; width: 100%; max-width: calc(100% - 120px); }
.widget-post-img img { border-radius: 5px; }
.blog-recent { display: flex; align-items: center; margin-bottom: 20px; }
.widget-post-img { max-width: 120px; width: 100%; }
.widget-post-img img { height: 84px; object-fit: cover; }
.widget-post-text h2 { padding-bottom: 4px; }
.widget { margin-bottom: 40px; }
.follows-us ul { display: flex; flex-wrap: wrap; }
.follows-us li { margin-right: 36px; }
.follows-us svg { width: 27px; height: 27px; }
.cat-tags li a { background: #EAEAEA; border-radius: 2px; font-family: Inter; font-style: normal; font-weight: normal; font-size: 14px; line-height: 38px;/* or 317% */ text-align: center; color: #848484; padding: 10px 15px; }
.cat-tags ul { display: flex; flex-wrap: wrap; }
.cat-tags li { margin-right: 10px; margin-bottom: 8px; }
.cat-tags li a:hover { background: #00abff; color: #fff; }
.post-img { width: 100%; }
.post-img:not(:first-child) { margin-top: 30px; }
.post-img { margin-bottom: 30px; }
.blog-description p { font-family: Inter; font-size: 17px; font-style: normal; font-weight: 300; line-height: 26px; letter-spacing: 0em; text-align: left; padding-bottom: 15px; }
.blog-description p strong { color: #040404; font-weight: 500; }
.blogSidebar { position: sticky; top: 110px; }

/* responisve */
@media (min-width:768px) {
	.portfolio-list .box:nth-child(even) .porfolio-content { padding-left: 0; padding-right: 40px; }
	.portfolio-list .box:nth-child(even) .porfolio-content { text-align: right; }
	.portfolio-list .box:nth-child(even) .porfolio-content .taglist { justify-content: end; }
	.portfolio-list .box:nth-child(even) .row { flex-direction: row-reverse; }
}
@media (max-width:1367px) {
	.contact-bottom h2 { font-size: 41px; }
	.form-inner label { font-size: 17px; }
	.page-head h1 { font-size: 41px; }
	.form-inner input, .form-inner textarea, .form-inner select { padding: 12px 15px; font-size: 16px; }
	.form-inner { padding: 70px; }
	.form-inner [class^="col-"] { margin-bottom: 25px; }
	.submit-bttn { font-size: 16px; padding: 12px 25px; }
	.black-heading { font-size: 29px; }

	.customselect:after {top: 11px; }





}
@media (max-width:1199px) {
	.contact-bottom h2 { font-size: 35px; }
	.bootm-list { padding-right: 40px; }
	.form-inner { padding: 50px; }
	.page-head h1 { font-size: 36px; }
}
@media (max-width:991px) {
	.form-inner label { font-size: 16px; }
	.customselect:after { content: "\f0d7"; top: 8px; right: 13px; font-size: 22px; }
	.form-inner { padding: 30px; }
	.contact-bottom { margin-top: 30px; }
	.contact-bottom h2 br { display: none; }
	.contact-bottom h2 { margin-bottom: 20px; font-size: 31px; }
	.page-head { padding: 40px 0 180px 0; }
	.form-inner { margin-top: -210px; }
	.form-inner { border-radius: 11px; }
	.bootm-list li { margin-bottom: 0; }
	.bootm-list { padding-right: 0; padding-top: 14px; }
	.page-head p { font-size: 16px; }
	.page-head h1 { font-size: 30px; }
	.porfolio-content, .portfolio-list .box:nth-child(even) .porfolio-content { padding-left: 0; padding-right: 0; }
	section.portfolio-details { padding: 30px 0; }
	.filters-navs { margin-bottom: 0; }
	.filters-navs button { min-width: 0; }
	.about-right-img img { width: 100%; padding: 15px 0; }
	section.about-us > .container h2.black-heading { text-align: center; }
	.trusted-logos li { flex: 0 0 33.33%; max-width: 33.33%; }
	.sec-title { padding-bottom: 20px; }
	section.about-us p { font-size: 16px; }
	.black-heading { font-size: 25px; }
	.whyfp-box h2 { font-size: 20px; }
	.whyfp-box p { font-size: 16px; }
	.sec-title p { font-size: 16px; line-height: 27px; }
	section.infrastructure img { width: 100%; }


	.buid-form {
    margin-top: 30px;
}

.left-trust {
    width: 230px;
}

.right-trust {
    max-width: calc(100% - 230px);
}

.dot-list.skills ul li {
    flex: 0 0 33.33%;
}

.dot-list li:before {
    left: 4px;
}

section.blog-section { padding:40px 0; }
.blogSidebar {
    margin-top: 30px;
}
}
@media (max-width:767px) {
	div#parent .box .col-md-5 img { width: 100%; }
	.porfolio-content { padding-top: 20px; }
	div#parent .box { padding-top: 0; }
	.page-head.inner-page { padding: 45px 0; }
	.porfolio-content a.btn { margin-top: 20px; }
	.taglist { padding: 10px 0 10px 0; }
	.porfolio-content h2 { font-size: 26px; }
	.filters-navs { margin-bottom: 30px; }
	section.our-industries { padding-bottom: 10px; }
	.black-heading { font-size: 25px; }
	.indus-box h2 { font-size: 20px; }
	section.our-industries { padding-top: 30px !important; }
	section.about-us { padding-bottom: 0px; }
	.about-video-wrap .vimeobg:before { content: ""; top: -50px; right: -70px; }
	section.why-profile { padding: 30px 0 10px 0; }
	.about-video-wrap iframe { min-height: 28vh; }
	.trusted-logos li { flex: 0 0 50%; max-width: 50%; }
	.sec-title { padding-bottom: 15px; }
	.trusted-logos li img { filter: none; opacity: 1; }
	.page-head h1 { font-size: 25px; }

	.dot-list li, .dot-list li a {
    font-size: 16px;
}
section.about-us {
    padding: 20px 0 30px 0 !important;
}
.left-trust {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.right-trust {
    max-width: 100%;
}

.trusted-leading .container {
    display: block;
}

.trusted-leading {
    padding: 30px 0;
}

.dot-list.skills ul li {
    flex: 0 0 50%;
}
section.benefits-hiring.pt-0 {
    padding-bottom: 10px;
}
section.interview_process {
    padding: 50px 0 !important;
}

}
@media (max-width:575px) {
	.form-actions { display: block; }
	.captcha { margin-right: 0; margin-bottom: 20px; }

	.black-heading {
    font-size: 22px;
}
.formhead h2 {
    font-size: 23px;
}
.bottom-form {
    padding: 20px;
}
	section.benefits-hiring .col-lg-4 {
    margin-bottom: 15px;
}
.bottom-form input[type="submit"] {
    font-size: 16px;
    padding: 13px;
}
section.blog-section { padding:20px 0; }

}


@media( max-width: 430px){
	.dot-list.skills ul li {
    flex: 0 0 100%;
}
}